<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDo Travel</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/3388/3388607.png">
    <link rel="stylesheet" href="../static/stylesheet/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <main>
      <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home">
            <img src="https://cdn-icons-png.flaticon.com/512/3388/3388607.png" alt="Logo" width="30" height="30"
              class="d-inline-block align-text-top">
            Travel Organization
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end bg-dark text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <a class="navbar-brand" href="/home">
                <img class="avatar d-inline-block align-text-top" src="{{session['photo']}}" alt="Logo" width="30" height="30"
                  class="d-inline-block align-text-top">
                {{session['username']}}
              </a>
              
              <button type="button" class="btn-close bg-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{username}}/edit-profile">Edit Profile</a>
                </li>
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/my-travel" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    My Travel
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="/my-travel">Viaggi</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/itinerario">Itinerario</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/bagaglio">Bagaglio</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/trasporti">Trasporti</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/diario">Diario</a></li>
                   
                    
                    
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Log Out</a>
                </li>
              </ul>
              <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
              </form>
              <br>
                <div class="form-check form-switch ms-auto mt-3 me-3">
                  <label class="form-check-label ms-3" for="lightSwitch">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="25"
                      height="25"
                      fill="currentColor"
                      class="bi bi-brightness-high"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
                      />
                    </svg>
                  </label>
                  <input class="form-check-input" type="checkbox" id="lightSwitch" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    <form method="POST" class="m-5">
      <img class="rounded-circle mt-5" style="" src="{{session['photo']}}" alt="">
      <div class="form-group">
          <label for="first_name">Username</label>
          <input type="text" name="first_name" placeholder="Inserisci un titolo" class="form-control"
              value="{{ session['username'] }}" required></input>
      </div>
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" placeholder="Inserisci un titolo" class="form-control"
              value="{{ session['email'] }}" required></input>
      </div>
      </br>
      <div class="form-group">
          <button type="submit" class="btn btn-primary">Save Profile</button>
      </div>
          </div>
      </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
        <script src="../static/code/switch.js"></script>

    </main>
</body>
<footer class="bg-dark text-center text-white">

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #212529;">
      © 2022 Copyright:
      <a class="text-white" href="#">Travel Organization</a>
    </div>
    <!-- Copyright -->
  </footer>

</html>